layout {
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus-0.17.0.wasm" {

                // format_left   "{mode} #[fg=#89B4FA,bold]{session}{tabs}"
                format_left   "{mode}#[bg=#181926] {tabs}"
                format_center "#[bg=#181926,fg=#494d64] zellij: #[bg=#181926,fg=#494d64]{session}"
                format_right "{command_git_branch}"
                format_space  "#[bg=#181926]"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                //mode_normal        "#[bg=#a6da95,fg=#181926,bold] NORMAL#[bg=#181926,fg=#a6da95]"
                //mode_locked        "#[bg=#6e738d,fg=#181926,bold] LOCKED #[bg=#181926,fg=#6e738d]"
                //mode_resize        "#[bg=#8aadf4,fg=#181926,bold] RESIZE#[bg=#181926,fg=#8aadf4]"
                //mode_pane          "#[bg=#8aadf4,fg=#181926,bold] PANE#[bg=#181926,fg=#8aadf4]"
                //mode_tab           "#[bg=#8aadf4,fg=#181926,bold] TAB#[bg=#181926,fg=#8aadf4]"
                //mode_scroll        "#[bg=#8aadf4,fg=#181926,bold] SCROLL#[bg=#181926,fg=#8aadf4]"
                //mode_enter_search  "#[bg=#8aadf4,fg=#181926,bold] ENT-SEARCH#[bg=#181926,fg=#8aadf4]"
                //mode_search        "#[bg=#8aadf4,fg=#181926,bold] SEARCHARCH#[bg=#181926,fg=#8aadf4]"
                //mode_rename_tab    "#[bg=#8aadf4,fg=#181926,bold] RENAME-TAB#[bg=#181926,fg=#8aadf4]"
                //mode_rename_pane   "#[bg=#8aadf4,fg=#181926,bold] RENAME-PANE#[bg=#181926,fg=#8aadf4]"
                //mode_session       "#[bg=#8aadf4,fg=#181926,bold] SESSION#[bg=#181926,fg=#8aadf4]"
                //mode_move          "#[bg=#8aadf4,fg=#181926,bold] MOVE#[bg=#181926,fg=#8aadf4]"
                //mode_prompt        "#[bg=#8aadf4,fg=#181926,bold] PROMPT#[bg=#181926,fg=#8aadf4]"
                //mode_tmux          "#[bg=#ffc387,fg=#181926,bold] ACTION#[bg=#181926,fg=#ffc387]"
                mode_normal          "#[bg=#a6da95] "
                mode_tmux            "#[bg=#ffc387] "
                mode_default_to_mode "tmux"


                // formatting for inactive tabs
                tab_normal              "#[bg=#181926,fg=#8a8a8a]#[bg=#8a8a8a,fg=#e7e7e7,bold]{index} #[bg=#363a4f,fg=#e7e7e7,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_normal_fullscreen   "#[bg=#181926,fg=#8a8a8a]#[bg=#8a8a8a,fg=#e7e7e7,bold]{index} #[bg=#363a4f,fg=#e7e7e7,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_normal_sync         "#[bg=#181926,fg=#8a8a8a]#[bg=#8a8a8a,fg=#e7e7e7,bold]{index} #[bg=#363a4f,fg=#e7e7e7,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=#181926,fg=#a6da95]#[bg=#a6da95,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#a6da95,bold] {name}{floating_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_active_fullscreen   "#[bg=#181926,fg=#a6da95]#[bg=#a6da95,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#a6da95,bold] {name}{fullscreen_indicator}#[bg=#181926,fg=#363a4f,bold]"
                tab_active_sync         "#[bg=#181926,fg=#a6da95]#[bg=#a6da95,fg=#1e2030,bold]{index} #[bg=#363a4f,fg=#a6da95,bold] {name}{sync_indicator}#[bg=#181926,fg=#363a4f,bold]"

                // separator between the tabs
                tab_separator           "#[bg=#181926] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=#a6da95] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
    }
}
